<div class="row">
<%= form_for(@exam, html: {class: 'col s12'}) do |f| %>
  <div class="row">
    <div class="input-field col s8">
    <%= f.select(:type, {}, {}, {class: 'browser-default'}) do %>
      <% Exam::EXAM_TYPE_LIST.each do |exam_type| %>
        <%= content_tag(:option, exam_type, exam_type == @exam.type ? { value: exam_type, selected: 'selected' } : { value: exam_type }) %>
      <% end %>
    <% end %>
    <!-- <%= f.label :type %> -->
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8">
    <%= f.select(:clazz_id, {}, {}, {class: 'browser-default'}) do %>
      <% Clazz.joins(:group).order("groups.name ASC").each do |clazz| %>
        <%= content_tag(:option, clazz, clazz.id == @exam.clazz_id ? { value: clazz.id, selected: 'selected' } : { value: clazz.id }) %>
      <% end %>
    <% end %>
    <!-- <%= f.label :clazz %> -->
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8">
    <%= f.date_field :date, class: 'datepicker' %>
    <%= f.label :date %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8">
    <%= f.time_field :start_time, class: 'timepicker' %>
    <%= f.label :start_time %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8">
    <%= f.time_field :end_time, class: 'timepicker' %>
    <%= f.label :end_time %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8">
    <%= f.select(:semester, {}, {}, {class: 'browser-default'}) do %>
      <% %w(Fall Spring).each do |semester| %>
        <%= content_tag(:option, semester, semester == @exam.semester ? { value: semester, selected: 'selected' } : { value: semester }) %>
      <% end %>
    <% end %>
    <!-- <%= f.label :semester %> -->
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8">
    <%= f.text_field :location, class: 'validate' %>
    <%= f.label :location %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8">
    <%= f.date_field :registration_deadline, class: 'datepicker' %>
    <%= f.label :registration_deadline %>
    </div>
  </div>
  <div class="row">
    <div class="actions">
      <%= f.submit class: 'btn-large waves-effect waves-light' %>
    </div>
  </div>
<% end %>
</div>
