<div>
  <div class='exams'>
    <div class='inner-header'>
      <div class='inner-title'>Exams</div>
      <div class='inner-button'><%= link_to 'New +', new_exam_path %></div>
    </div>
    <div class='inner-content'>
      <table class='exam-table'>
        <thead>
          <tr>
            <th>Type</th>
            <th>Date</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Semester</th>
            <th>Location</th>
            <th>Registration deadline</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @exams.each do |exam| %>
            <tr>
              <td><%= exam.exam_type %></td>
              <td><%= exam.date %></td>
              <td><%= exam.start_time %></td>
              <td><%= exam.end_time %></td>
              <td><%= exam.semester %></td>
              <td><%= exam.location %></td>
              <td><%= exam.registration_deadline %></td>
              <td><%= link_to fa_icon('eye'), exam, class: 'link' %></td>
              <td><%= link_to fa_icon('pencil-square-o'), edit_exam_path(exam), class: 'link' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
