<div>
  <div class='exams'>
    <div class='inner-header'>
      <div class='inner-title'>Exam Options</div>
      <div class='inner-button'><%= link_to 'New +', new_exam_path %></div>
    </div>
    <div class='inner-content'>
      <table class='exam-table'>
        <thead>
          <tr>
            <th>Type</th>
            <th>Date</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Semester</th>
            <th>Location</th>
            <th>Registration deadline</th>
            <th colspan="5"></th>
          </tr>
        </thead>
        <tbody>
          <% @exams.each do |exam| %>
            <tr>
              <td><%= exam.exam_type %></td>
              <td><%= exam.date %></td>
              <td><%= exam.start_time.strftime('%H:%M:%S') %></td>
              <td><%= exam.end_time.strftime('%H:%M:%S') %></td>
              <td><%= exam.semester %></td>
              <td><%= exam.location %></td>
              <td><%= exam.registration_deadline %></td>
              <td><%= link_to fa_icon('users'), exam, class: 'link tooltipped', :'data-position' => 'top', :'data-tooltip' => 'View Registered' %></td>
              <td><%= link_to fa_icon('pencil-square-o'), edit_exam_path(exam), class: 'link tooltipped', :'data-position' => 'top', :'data-tooltip' => 'Edit' %></td>
              <% if exam.is_done? and !exam.enrollments.empty? %>
                <td><%= link_to fa_icon('list-alt'), exam_path(exam, result: true), class: 'link tooltipped', :'data-position' => 'top', :'data-tooltip' => 'View Results' %></td>
                <td><%= link_to fa_icon('check-square-o'), enter_results_exam_path(exam), class: 'link tooltipped', :'data-position' => 'top', :'data-tooltip' => 'Enter Results' %></td>
                <td>
                  <% if !exam.published? %>
                    <%= link_to fa_icon('share-square-o'), publish_exam_path(exam), method: 'post', class: 'link tooltipped', :'data-position' => 'top', :'data-tooltip' => 'Publish Results' %></td>
                  <% end %>
                </td>
              <% else %>
                <td></td>
                <td></td>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
