<div>
  <div class='exams'>
    <div class='inner-header'>
      <div class='inner-title'>
        <% if params[:result] %>
          View Results of Exam #<%= @exam.id %>
        <% else %>
          View Registered for Exam #<%= @exam.id %>
        <% end %>
      </div>
      <div class='inner-button'><%= link_to 'Back <', exams_path %></div>
    </div>
    <div class='inner-content'>
      <table class='student-table'>
        <thead>
          <tr>
            <th>Username</th>
            <th>TXStateID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          <% @exam.enrollments.each do |enrollment| %>
            <tr>
              <td><%= enrollment.student.username %></td>
              <td><%= enrollment.student.txstateid %></td>
              <td><%= enrollment.student.first_name %></td>
              <td><%= enrollment.student.last_name %></td>
              <td><%= enrollment.result ? enrollment.result.name : nil %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class='row results'>
        <div class="col s4 offset-s8">
          <div class='row'>
            <div class='col s8 right-align result-title'>Total Students:</div>
            <div class='col s4'><%= @exam.enrollments.size %></div>
          </div>
          <% if params[:result] %>
            <div class='row'>
              <div class='col s8 right-align result-title'>Passed:</div>
              <div class='col s4'><%= total_results(@exam, Result::PASSED) %></div>
            </div>
            <div class='row'>
              <div class='col s8 right-align result-title'>Failed:</div>
              <div class='col s4'><%= total_results(@exam, Result::FAILED) %></div>
            </div>
            <div class='row'>
              <div class='col s8 right-align result-title'>Noshow:</div>
              <div class='col s4'><%= total_results(@exam, Result::NOSHOW) %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
