<div>
  <div class='students'>
    <div class='inner-header'>
      <div class='inner-title'>Student - <%= @student.txstateid %></div>
      <div class='inner-button'><%= link_to 'Back <', students_path %></div>
    </div>
    <div class='inner-content'>
      <p>
        <strong>Username:</strong>
        <%= @student.username %>
      </p>
      <p>
        <strong>Txstateid:</strong>
        <%= @student.txstateid %>
      </p>
      <p>
        <strong>Last name:</strong>
        <%= @student.last_name %>
      </p>
      <p>
        <strong>First name:</strong>
        <%= @student.first_name %>
      </p>
      <p>
        <strong>Major:</strong>
        <%= @student.major %>
      </p>
      <p>
        <strong>Email:</strong>
        <%= @student.email %>
      </p>
    </div>
  </div>
</div>
